@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 
@import url(https://hangeul.pstatic.net/hangeul_static/css/NanumBarunGothicYetHangul.css);
.hanna { font-family: 'hanna'; } 
.nanum { font-family: 'Nanum Barun Gothic'; } 



/* ✅ Chatbot container */
.react-chatbot-kit-chat-container {
  display: flex !important;
  width: 100vw !important;
  height: 100vh !important;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.react-chatbot-kit-chat-message-container{
  height: 60vh !important;
  margin-top: 10px !important;
}

.react-chatbot-kit-chat-inner-container{
  height: 80% !important;
  width: 50% !important;
}

.react-chatbot-kit-chat-bot-message {
  background-color: transparent !important;
  color: rgb(78, 79, 79) !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  padding: 10px !important;
  max-width: 80% !important;
  width: 65% !important;
  text-align: left !important;
  white-space: pre-line !important;
  border: 2px solid rgba(100, 100, 100, 0.3) !important; /* ✅ Border added */
}

.react-chatbot-kit-chat-bot-avatar-container{
  height: 5vw !important;
  width: 5vw !important;
}

.react-chatbot-kit-chat-bot-message-container{
  display: flex !important;
  justify-content: flex-start;
}

.react-chatbot-kit-chat-bot-message{
  margin-left: 2vw !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  transform: translateX(-3px) !important;
}

.react-chatbot-kit-user-avatar-container{
  background-color: #a71f31 !important;
}

/* ✅ User message styles */
.react-chatbot-kit-user-chat-message {
  background-color: transparent !important;
  color: rgb(78, 79, 79) !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  padding: 10px !important;
  max-width: 80% !important;
  text-align: left !important;
  border: 2px solid #a71f31 !important; /* ✅ Border added */
}

.react-chatbot-kit-user-chat-message-arrow {
  transform: translateX(3px);
  border-left-color: #a71f31 !important; /* ✅ Change for user messages */
}


/* ✅ Chat button */
.react-chatbot-kit-chat-btn-send {
  background-color: #a71f31 !important;
  border-radius: 50%;
  margin-left: 3px !important;
  pointer-events: none !important;
  cursor: not-allowed;
}

.react-chatbot-kit-chat-input-container{
  position: relative !important;
}

/* ✅ Chat input box */
.react-chatbot-kit-chat-input {
  border-radius: 5px;
  border: 2px rgba(33, 66, 96, 0.3) solid !important;
  padding: 5px;
}


